---
layout: archive-linked
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section" style="border-bottom: 0pt">
    {% if forloop.first %}
    <h2 class="archive__subtitle">Lastest Posts</h2>
  {% else %}
  <h2 class="archive__subtitle">{{ year.name }}</h2>
  {% endif %}
    <div class="entries-{{ entries_layout }}">
      {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
  </section>
{% endfor %}

<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>